@page
@model Vivacity.Pages.Machines.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.MachineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.MachineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.ModelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.ModelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.PurchaseCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.PurchaseCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.Plant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.Plant.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Machine.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
