@page
@model Vivacity.Pages.Machines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.MachineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.MachineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.ModelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.ModelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.PurchaseCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.PurchaseCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine.Plant)
        </dt>
        <dd class="col-sm-10">
            <a asp-route-id="@Model.Machine.Plant.ID" asp-page="/Plants/Details">@Html.DisplayFor(model => model.Machine.Plant.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Machine?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
